data/*
!data/
!data/README.txt
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
article/
figure/
litt/
out/*
out/p_log/*
out/p_viz/*
!out/p_log
!out/pa_viz
!out/p_log/README.txt
!out/pa_viz/README.txt
temp/
report.html

